.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

@media (min-width: 961px) {
  .navbar {
    border-bottom: 0;
    width: var(--doc-sidebar-width);
  }
  .docs-wrapper .navbar {
    border-right: 1px solid var(--ifm-toc-border-color);
  }
  .navbar__brand {
    padding-left: 1rem;
  }
}
